---
http_interactions:
- request:
    method: post
    uri: https://file.io/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      Etag:
      - W/"52-JLbd0Pjc7xCyO0ZE/FoZkdXhM1g"
    body:
      encoding: UTF-8
      string: '{"success":true,"key":"7Y9ivE","link":"https://file.io/7Y9ivE","expiry":"14
        days"}'
  recorded_at: Fri, 15 Feb 2019 06:29:16 GMT
recorded_with: VCR 3.0.3
