---
http_interactions:
- request:
    method: post
    uri: https://file.io/?expires=3d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '2'
      Etag:
      - W/"51-zE9nUHWKQ22Vce9BHxZLsH4JOWk"
    body:
      encoding: UTF-8
      string: '{"success":true,"key":"7GpnJB","link":"https://file.io/7GpnJB","expiry":"3
        days"}'
  recorded_at: Fri, 15 Feb 2019 06:29:18 GMT
recorded_with: VCR 3.0.3
